.main {
    // background-color: aqua;
    // position: fixed;
    // right: 20%;
    // transform: translateX(-50%);
    z-index: 100;
    & a {
        display: inline-block;
        // color: #fff;
        text-decoration: none;
        transition: all .3s;
    }
    .btn {
        opacity: .8;
        margin: .5rem;
        width:3rem;
        height:3rem;
        border: .1rem solid rgba(255, 255, 255, 0.241);

        // padding: 2rem ; // background: $c1;
        transition: all .3s;
        border-radius: 50%;
        box-shadow: 0 .5rem .5rem rgba(black, .2);
        &:hover{
            box-shadow: 0 .5rem 1rem rgba(black, .3);
            transform: scale(1.1);


        }
        &:hover>p,
        &:hover,
        .active {
            opacity: 1;
            border: .1rem solid rgba(255, 255, 255, 0.316);
        }
    }
}